[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/morpho-blue"]
	path = contracts/lib/morpho-blue
	url = https://github.com/morpho-org/morpho-blue
[submodule "contracts/lib/vault-v2"]
	path = contracts/lib/vault-v2
	url = https://github.com/morpho-org/vault-v2
[submodule "contracts/lib/morpho-blue-oracles"]
	path = contracts/lib/morpho-blue-oracles
	url = https://github.com/morpho-org/morpho-blue-oracles
[submodule "contracts/lib/public-allocator"]
	path = contracts/lib/public-allocator
	url = https://github.com/morpho-org/public-allocator
